*,*::before,*::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Epilogue', sans-serif;
}

.wrapper{
    height: 100vh;
    width: 100vw;
    background-color:hsl(0, 0%, 98%) ;
}

.navbar{
    display: flex;
    width: 1440px;
    height: 70px;
    align-items: center;
    margin: 0 auto;
    justify-content: space-between;
}

.nav-logo{
    display: flex;
    align-items: center;
}

.left-section{
    display: flex;
    align-items: center;
    gap: 30px;
}

.feature-section{
    margin-right: 10%;
}

.company-section{
    margin-right: 10%;
}

.career-section{
    margin-right: 10%;
}

.nav-items{
    text-decoration: none;
    display: flex;
    align-items: center;
    color: hsl(0, 0%, 41%);
    cursor: pointer;
}

.nav-items:hover{
    text-decoration: none;
    display: flex;
    align-items: center;
    color: hsl(0, 0%, 8%);
    cursor: pointer;
}

.login-btn{
    background:none;
    border: none;
    width: 100px;
    height: 50px;
    cursor: pointer;
    color: hsl(0, 0%, 41%);
}

.login-btn:hover{
    border-color: hsl(0, 0%, 8%);
    color: hsl(0, 0%, 8%);
}

.register-btn{
    background: none;
    border: 1px solid hsl(0, 0%, 41%);
    border-radius: 15px;
    width: 110px;
    height: 40px;
    color: hsl(0, 0%, 41%);
    cursor: pointer;
}

.register-btn:hover{
    border-color: hsl(0, 0%, 8%);
    color: hsl(0, 0%, 8%);
}

.container{
    width: 1440px;
    display: flex;
    height: 800px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-around;  
}

.container-left-section{
    height: 500px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.learn-btn{
    width: 100px;
    background-color: black;
    color: white;
    border-radius: 10px;
    height: 40px;
    width: 150px;
    font-weight: 700;
    cursor: pointer;
}

.learn-btn:hover{
    background: none;
    transition: all;
    transition-duration: 200ms;
    color: black;
}

.hero-heading{
    font-size: 5rem;
    font-weight: 700;
}

.hero-description{
    color: hsl(0, 0%, 41%) ;
    font-weight: 500;
    font-size: 1.2rem;
}

.footer-img{
    display: flex;
    align-items: center;
    gap: 5%;
}


